<section id="conhecimentos" class="container">
    <div class="caixa">
        <div class="card border">
            <h1>Front-end Developer</h1>
            <p class="mark">Linguagens:</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
        <div class="card right">
            <h1>Aprendendo</h1>
            <p class="mark">Conteúdos:</p>
            <ul>
                <li>Angular</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Git</li>
                <li>GitFlow</li>
            </ul>
        </div>
    </div>
</section>